stages:
  - build-and-test
  - benchmarks

macrobenchmarks:
  stage: benchmarks
  needs: []
  trigger:
    include: ".gitlab/benchmarks.yml"
  rules:
    - if: $NIGHTLY_BENCHMARKS || $CI_COMMIT_REF_NAME == "master" || $CI_COMMIT_REF_NAME =~ /^release\/v/
      when: always
    - when: manual

shellcheck:
  stage: build-and-test
  image: registry.ddbuild.io/ci/nginx-datadog/shellcheck-alpine:v0.9.0
  tags: ["arch:amd64"]
  script:
    - find bin/ test/ example/ -type f -executable | xargs shellcheck --exclude SC1071,SC1091,SC2317
