[submodule "opentracing-cpp"]
	path = opentracing-cpp
	url = git@github.com:DataDog/opentracing-cpp.git
[submodule "nginx-opentracing"]
	path = nginx-opentracing
	url = git@github.com:dgoffredo/nginx-opentracing.git
