[submodule "dd-trace-cpp"]
	path = dd-trace-cpp
	url = ../dd-trace-cpp.git
[submodule "libddwaf"]
	path = libddwaf
	url = ../libddwaf.git
[submodule "cmake-sbom"]
	path = cmake-sbom
	url = git@github.com:DEMCON/cmake-sbom.git
