stages:
  - build-and-test-fast
  - build-all
  - test-all
  - mirror-images
  - benchmarks

include:
  - local: ".gitlab/build-and-test-all.yml"
  - local: ".gitlab/build-and-test-fast.yml"
  - local: ".gitlab/mirror.yml"

macrobenchmarks:
  stage: benchmarks
  needs: []
  trigger:
    include: ".gitlab/benchmarks.yml"
  rules:
    - if: $NIGHTLY_BENCHMARKS || $CI_COMMIT_REF_NAME == "master" || $CI_COMMIT_REF_NAME =~ /^release\/v/
      when: always
    - when: manual
