*.so*
.DS_Store
/.build
/.clang-tidy-build
/.musl-build
/.musl-build-asan
/.musl-build-msan
/.openresty-build
/.pytest_cache/
/.vscode/
/test/.pytest_cache/
/test/.venv/
/test/injection/artifacts/
__pycache__/
