# source code fetched by the build
/nginx/

# build arifacts
*.so
/.build
/.docker-build

# text editor noise
.*.sw?
.vscode/

# clang-format config copied from dd-opentracing-cpp (see `make format`)
/.clang-format

# file used as part of the build configuration
/nginx-tag
