# nginx-version-info is a shell script that will be sourced by various make
# targets such as build, build-in-docker, test, and lab. The file is required
# to build or test anything.
#
# Rename (copy) this file to "nginx-version-info" to get started.
#
# nginx-version-info defines shell variables that specify the version of the
# nginx source code to include in the build, the base docker image in which the
# module will be built, and the path to the nginx modules directory in the test
# image based on the build image.
#
# The following variables are interpreted:
#
# NGINX_VERSION
#     The full version number of the nginx source release with which the module
#     is to be built. For example, "1.24.0".
#
#     NGINX_VERSION is required by all make targets.
#
# BASE_IMAGE
#     The docker image, with tag, on which the build image will be based.
#     Build images are provided for base images of the following forms:
#
#     - nginx:<version>
#     - nginx:<version>-alpine
#     - amazonlinux:2.0.<etc>
#
#     BASE_IMAGE is not required for the "build" make target, but is required
#     for "test", "build-in-docker", and "lab" targets.
#
# ARCH
#     The docker image architecture to use. The following values are supported:
#
#     - amd64
#     - arm64
#
#     ARCH is not required by any of the make targets, but is used when
#     preparing releases.

NGINX_VERSION=1.24.0
BASE_IMAGE=nginx:1.24.0-alpine
ARCH=amd64

# NGINX_VERSION=1.14.1
# BASE_IMAGE=nginx:1.14.1

# NGINX_VERSION=1.22.1
# BASE_IMAGE=amazonlinux:2.0.20230119.1
