when:
  and:
    - not: << pipeline.git.tag >>
    - equal: [ dev, << pipeline.parameters.action >> ]
jobs:
- check-ci-definition
- format:
    name: Verify formatting
    requires:
    - check-ci-definition
- shellcheck:
    name: run shellcheck on shell scripts
    requires:
    - check-ci-definition
- build:
    matrix:
      parameters:
        arch:
        - amd64
        - arm64
        nginx-version:
        # The version used by system-tests must be one of the ones below. See https://github.com/DataDog/system-tests/pull/6113.
        - 1.24.0
        - 1.25.4
        - 1.28.2
        - 1.29.5
        waf:
        - 'ON'
        - 'OFF'
    name: build << matrix.nginx-version >> on << matrix.arch >> WAF << matrix.waf >>
- build_openresty:
    matrix:
      parameters:
        arch:
        - amd64
        - arm64
        resty-version:
        - 1.27.1.2
        waf:
        - 'ON'
        - 'OFF'
    name: build openresty << matrix.resty-version >> on << matrix.arch >> WAF << matrix.waf >>
- build_ingress_nginx_module:
    name: build ingress-nginx-<< matrix.version >> on << matrix.arch >>
    matrix:
      parameters:
        arch:
        - 'amd64'
        - 'arm64'
        version:
        - 1.13.5
        - 1.14.1
- coverage:
    name: Coverage on 1.27.0 with WAF ON
- test:
    matrix:
      parameters:
        arch:
        - amd64
        - arm64
        waf:
        - 'ON'
        - 'OFF'
        base-image:
        - nginx:1.28.2-alpine
        - nginx:1.28.2
        nginx-version:
        - 1.28.2
    name: test << matrix.nginx-version >> on << matrix.base-image >>:<< matrix.arch
      >> WAF << matrix.waf >>
    requires:
    - build << matrix.nginx-version >> on << matrix.arch >> WAF << matrix.waf
      >>
- test:
    matrix:
      parameters:
        arch:
        - amd64
        - arm64
        waf:
        - 'ON'
        - 'OFF'
        base-image:
        - nginx:1.29.5-alpine
        - nginx:1.29.5
        nginx-version:
        - 1.29.5
    name: test << matrix.nginx-version >> on << matrix.base-image >>:<< matrix.arch
      >> WAF << matrix.waf >>
    requires:
    - build << matrix.nginx-version >> on << matrix.arch >> WAF << matrix.waf
      >>
- test-openresty:
    matrix:
      parameters:
        arch:
        - amd64
        - arm64
        waf:
        - 'ON'
        - 'OFF'
        base-image:
        - openresty/openresty:1.27.1.2-alpine
        resty-version:
        - 1.27.1.2
    name: test openresty << matrix.resty-version >> on << matrix.base-image >>:<< matrix.arch >> WAF << matrix.waf >>
    requires:
    - build openresty << matrix.resty-version >> on << matrix.arch >> WAF << matrix.waf >>
- test:
    matrix:
      parameters:
        arch:
        - amd64
        - arm64
        waf:
        - 'ON'
        - 'OFF'
        base-image:
        - amazonlinux:2023.3.20240219.0
        nginx-version:
        - 1.24.0
    name: test << matrix.nginx-version >> on << matrix.base-image >>:<< matrix.arch >> WAF << matrix.waf >>
    requires:
    - build << matrix.nginx-version >> on << matrix.arch >> WAF << matrix.waf >>
- test_ingress:
    name: test ingress-nginx-<< matrix.nginx-version >> on << matrix.arch >>
    requires:
    - build ingress-nginx-<< matrix.nginx-version >> on << matrix.arch >>
    matrix:
      parameters:
        arch:
        - amd64
        - arm64
        base-image:
        - registry.k8s.io/ingress-nginx/controller
        nginx-version:
        - 1.13.5
        - 1.14.1
- system_tests:
    name: Run system tests
    requires:
    - build 1.25.4 on amd64 WAF ON
