    when:
      or:
        - equal: [ release, << pipeline.parameters.action >> ]
        - matches: { pattern: "^v[0-9]+\\.[0-9]+\\.[0-9]+", value: << pipeline.git.tag >> }
    jobs:
    - build_ingress_nginx_module:
        name: build ingress-nginx-<< matrix.version >> on << matrix.arch >>
        filters:
            tags:
              only: /^v.*/
        matrix:
          parameters:
            arch:
            - 'amd64'
            - 'arm64'
            version:
            - 1.14.1
            - 1.14.0
            - 1.13.5
            - 1.13.4
            - 1.13.3
            - 1.13.2
            - 1.13.1
            - 1.13.0
            - 1.12.8
            - 1.12.7
            - 1.12.6
            - 1.12.5
            - 1.12.4
            - 1.12.3
            - 1.12.2
            - 1.12.1
            - 1.12.0
            - 1.11.8
            - 1.11.7
            - 1.11.6
            - 1.11.5
            - 1.11.4
            - 1.11.3
            - 1.11.2
            - 1.11.1
            - 1.11.0
            - 1.10.6
            - 1.10.5
            - 1.10.4
            - 1.10.3
            - 1.10.2
            - 1.10.1
            - 1.10.0
    - test_ingress:
        name: test ingress-nginx-<< matrix.nginx-version >> on << matrix.arch >>
        requires:
        - build ingress-nginx-<< matrix.nginx-version >> on << matrix.arch >>
        filters:
            tags:
              only: /^v.*/
        matrix:
          parameters:
            arch:
            - amd64
            - arm64
            base-image:
            - registry.k8s.io/ingress-nginx/controller
            nginx-version:
            - 1.14.1
            - 1.14.0
            - 1.13.5
            - 1.13.4
            - 1.13.3
            - 1.13.2
            - 1.13.1
            - 1.13.0
            - 1.12.8
            - 1.12.7
            - 1.12.6
            - 1.12.5
            - 1.12.4
            - 1.12.3
            - 1.12.2
            - 1.12.1
            - 1.12.0
            - 1.11.8
            - 1.11.7
            - 1.11.6
            - 1.11.5
            - 1.11.4
            - 1.11.3
            - 1.11.2
            - 1.11.1
            - 1.11.0
            - 1.10.6
            - 1.10.5
            - 1.10.4
            - 1.10.3
            - 1.10.2
            - 1.10.1
            - 1.10.0
    # output of bin/generate_jobs_yaml.rb
    - build:
        filters:
          tags:
            only: /^v.*/
        matrix:
          parameters:
            arch:
            - amd64
            - arm64
            nginx-version:
            - 1.24.0
            - 1.26.0
            - 1.26.1
            - 1.26.2
            - 1.26.3
            - 1.27.0
            - 1.27.1
            - 1.27.2
            - 1.27.3
            - 1.27.4
            - 1.27.5
            - 1.28.0
            - 1.29.0
            - 1.29.1
            - 1.29.2
            - 1.29.3
            waf:
            - 'ON'
            - 'OFF'
        name: build << matrix.nginx-version >> on << matrix.arch >> WAF << matrix.waf >>
    - build_openresty:
        filters:
          tags:
            only: /^v.*/
        matrix:
          parameters:
            arch:
            - amd64
            - arm64
            resty-version:
            - 1.25.3.1
            - 1.25.3.2
            - 1.27.1.1
            - 1.27.1.2
            waf:
            - 'ON'
            - 'OFF'
        name: build openresty << matrix.resty-version >> on << matrix.arch >> WAF << matrix.waf >>
    - test:
        filters:
          tags:
            only: /^v.*/
        matrix:
          parameters:
            arch:
            - amd64
            - arm64
            waf:
            - 'ON'
            - 'OFF'
            base-image:
            - amazonlinux:2023.3.20240219.0
            nginx-version:
            - 1.24.0
        name: test << matrix.nginx-version >> on << matrix.base-image >>:<< matrix.arch >> WAF << matrix.waf >>
        requires:
        - build << matrix.nginx-version >> on << matrix.arch >> WAF << matrix.waf >>
    - test:
        filters:
          tags:
            only: /^v.*/
        matrix:
          parameters:
            arch:
            - amd64
            - arm64
            waf:
            - 'ON'
            - 'OFF'
            base-image:
            - nginx:1.29.3-alpine
            - nginx:1.29.3
            nginx-version:
            - 1.29.3
        name: test << matrix.nginx-version >> on << matrix.base-image >>:<< matrix.arch >> WAF << matrix.waf >>
        requires:
        - build << matrix.nginx-version >> on << matrix.arch >> WAF << matrix.waf >>
    - test:
        filters:
          tags:
            only: /^v.*/
        matrix:
          parameters:
            arch:
            - amd64
            - arm64
            waf:
            - 'ON'
            - 'OFF'
            base-image:
            - nginx:1.29.2-alpine
            - nginx:1.29.2
            nginx-version:
            - 1.29.2
        name: test << matrix.nginx-version >> on << matrix.base-image >>:<< matrix.arch >> WAF << matrix.waf >>
        requires:
        - build << matrix.nginx-version >> on << matrix.arch >> WAF << matrix.waf >>
    - test:
        filters:
          tags:
            only: /^v.*/
        matrix:
          parameters:
            arch:
            - amd64
            - arm64
            waf:
            - 'ON'
            - 'OFF'
            base-image:
            - nginx:1.29.1-alpine
            - nginx:1.29.1
            nginx-version:
            - 1.29.1
        name: test << matrix.nginx-version >> on << matrix.base-image >>:<< matrix.arch >> WAF << matrix.waf >>
        requires:
        - build << matrix.nginx-version >> on << matrix.arch >> WAF << matrix.waf >>
    - test:
        filters:
          tags:
            only: /^v.*/
        matrix:
          parameters:
            arch:
            - amd64
            - arm64
            waf:
            - 'ON'
            - 'OFF'
            base-image:
            - nginx:1.29.0-alpine
            - nginx:1.29.0
            nginx-version:
            - 1.29.0
        name: test << matrix.nginx-version >> on << matrix.base-image >>:<< matrix.arch >> WAF << matrix.waf >>
        requires:
        - build << matrix.nginx-version >> on << matrix.arch >> WAF << matrix.waf >>
    - test:
        filters:
          tags:
            only: /^v.*/
        matrix:
          parameters:
            arch:
            - amd64
            - arm64
            waf:
            - 'ON'
            - 'OFF'
            base-image:
            - nginx:1.28.0-alpine
            - nginx:1.28.0
            nginx-version:
            - 1.28.0
        name: test << matrix.nginx-version >> on << matrix.base-image >>:<< matrix.arch >> WAF << matrix.waf >>
        requires:
        - build << matrix.nginx-version >> on << matrix.arch >> WAF << matrix.waf >>
    - test:
        filters:
          tags:
            only: /^v.*/
        matrix:
          parameters:
            arch:
            - amd64
            - arm64
            waf:
            - 'ON'
            - 'OFF'
            base-image:
            - nginx:1.27.5-alpine
            - nginx:1.27.5
            nginx-version:
            - 1.27.5
        name: test << matrix.nginx-version >> on << matrix.base-image >>:<< matrix.arch >> WAF << matrix.waf >>
        requires:
        - build << matrix.nginx-version >> on << matrix.arch >> WAF << matrix.waf >>
    - test:
        filters:
          tags:
            only: /^v.*/
        matrix:
          parameters:
            arch:
            - amd64
            - arm64
            waf:
            - 'ON'
            - 'OFF'
            base-image:
            - nginx:1.27.4-alpine
            - nginx:1.27.4
            nginx-version:
            - 1.27.4
        name: test << matrix.nginx-version >> on << matrix.base-image >>:<< matrix.arch >> WAF << matrix.waf >>
        requires:
        - build << matrix.nginx-version >> on << matrix.arch >> WAF << matrix.waf >>
    - test:
        filters:
          tags:
            only: /^v.*/
        matrix:
          parameters:
            arch:
            - amd64
            - arm64
            waf:
            - 'ON'
            - 'OFF'
            base-image:
            - nginx:1.27.3-alpine
            - nginx:1.27.3
            nginx-version:
            - 1.27.3
        name: test << matrix.nginx-version >> on << matrix.base-image >>:<< matrix.arch >> WAF << matrix.waf >>
        requires:
        - build << matrix.nginx-version >> on << matrix.arch >> WAF << matrix.waf >>
    - test:
        filters:
          tags:
            only: /^v.*/
        matrix:
          parameters:
            arch:
            - amd64
            - arm64
            waf:
            - 'ON'
            - 'OFF'
            base-image:
            - nginx:1.27.2-alpine
            - nginx:1.27.2
            nginx-version:
            - 1.27.2
        name: test << matrix.nginx-version >> on << matrix.base-image >>:<< matrix.arch >> WAF << matrix.waf >>
        requires:
        - build << matrix.nginx-version >> on << matrix.arch >> WAF << matrix.waf >>
    - test:
        filters:
          tags:
            only: /^v.*/
        matrix:
          parameters:
            arch:
            - amd64
            - arm64
            waf:
            - 'ON'
            - 'OFF'
            base-image:
            - nginx:1.27.1-alpine
            - nginx:1.27.1
            nginx-version:
            - 1.27.1
        name: test << matrix.nginx-version >> on << matrix.base-image >>:<< matrix.arch >> WAF << matrix.waf >>
        requires:
        - build << matrix.nginx-version >> on << matrix.arch >> WAF << matrix.waf >>
    - test:
        filters:
          tags:
            only: /^v.*/
        matrix:
          parameters:
            arch:
            - amd64
            - arm64
            waf:
            - 'ON'
            - 'OFF'
            base-image:
            - nginx:1.27.0-alpine
            - nginx:1.27.0
            nginx-version:
            - 1.27.0
        name: test << matrix.nginx-version >> on << matrix.base-image >>:<< matrix.arch >> WAF << matrix.waf >>
        requires:
        - build << matrix.nginx-version >> on << matrix.arch >> WAF << matrix.waf >>
    - test:
        filters:
          tags:
            only: /^v.*/
        matrix:
          parameters:
            arch:
            - amd64
            - arm64
            waf:
            - 'ON'
            - 'OFF'
            base-image:
            - nginx:1.26.3-alpine
            - nginx:1.26.3
            nginx-version:
            - 1.26.3
        name: test << matrix.nginx-version >> on << matrix.base-image >>:<< matrix.arch >> WAF << matrix.waf >>
        requires:
        - build << matrix.nginx-version >> on << matrix.arch >> WAF << matrix.waf >>
    - test:
        filters:
          tags:
            only: /^v.*/
        matrix:
          parameters:
            arch:
            - amd64
            - arm64
            waf:
            - 'ON'
            - 'OFF'
            base-image:
            - nginx:1.26.2-alpine
            - nginx:1.26.2
            nginx-version:
            - 1.26.2
        name: test << matrix.nginx-version >> on << matrix.base-image >>:<< matrix.arch >> WAF << matrix.waf >>
        requires:
        - build << matrix.nginx-version >> on << matrix.arch >> WAF << matrix.waf >>
    - test:
        filters:
          tags:
            only: /^v.*/
        matrix:
          parameters:
            arch:
            - amd64
            - arm64
            waf:
            - 'ON'
            - 'OFF'
            base-image:
            - nginx:1.26.1-alpine
            - nginx:1.26.1
            nginx-version:
            - 1.26.1
        name: test << matrix.nginx-version >> on << matrix.base-image >>:<< matrix.arch >> WAF << matrix.waf >>
        requires:
        - build << matrix.nginx-version >> on << matrix.arch >> WAF << matrix.waf >>
    - test:
        filters:
          tags:
            only: /^v.*/
        matrix:
          parameters:
            arch:
            - amd64
            - arm64
            waf:
            - 'ON'
            - 'OFF'
            base-image:
            - nginx:1.26.0-alpine
            - nginx:1.26.0
            nginx-version:
            - 1.26.0
        name: test << matrix.nginx-version >> on << matrix.base-image >>:<< matrix.arch >> WAF << matrix.waf >>
        requires:
        - build << matrix.nginx-version >> on << matrix.arch >> WAF << matrix.waf >>
    - test-openresty:
        filters:
          tags:
            only: /^v.*/
        matrix:
          parameters:
            arch:
            - amd64
            - arm64
            waf:
            - 'ON'
            - 'OFF'
            base-image:
            - openresty/openresty:1.27.1.2-alpine
            resty-version:
            - 1.27.1.2
        name: test openresty << matrix.resty-version >> on << matrix.base-image >>:<< matrix.arch >> WAF << matrix.waf >>
        requires:
        - build openresty << matrix.resty-version >> on << matrix.arch >> WAF << matrix.waf >>
    - test-openresty:
        filters:
          tags:
            only: /^v.*/
        matrix:
          parameters:
            arch:
            - amd64
            - arm64
            waf:
            - 'ON'
            - 'OFF'
            base-image:
            - openresty/openresty:1.27.1.1-alpine
            resty-version:
            - 1.27.1.1
        name: test openresty << matrix.resty-version >> on << matrix.base-image >>:<< matrix.arch >> WAF << matrix.waf >>
        requires:
        - build openresty << matrix.resty-version >> on << matrix.arch >> WAF << matrix.waf >>
    - test-openresty:
        filters:
          tags:
            only: /^v.*/
        matrix:
          parameters:
            arch:
            - amd64
            - arm64
            waf:
            - 'ON'
            - 'OFF'
            base-image:
            - openresty/openresty:1.25.3.2-alpine
            resty-version:
            - 1.25.3.2
        name: test openresty << matrix.resty-version >> on << matrix.base-image >>:<< matrix.arch >> WAF << matrix.waf >>
        requires:
        - build openresty << matrix.resty-version >> on << matrix.arch >> WAF << matrix.waf >>
    - test-openresty:
        filters:
          tags:
            only: /^v.*/
        matrix:
          parameters:
            arch:
            - amd64
            - arm64
            waf:
            - 'ON'
            - 'OFF'
            base-image:
            - openresty/openresty:1.25.3.1-alpine
            resty-version:
            - 1.25.3.1
        name: test openresty << matrix.resty-version >> on << matrix.base-image >>:<< matrix.arch >> WAF << matrix.waf >>
        requires:
        - build openresty << matrix.resty-version >> on << matrix.arch >> WAF << matrix.waf >>
