version: 2.1

orbs:
  codecov: codecov/codecov@4.1.0

parameters:
  action:
    type: enum
    enum: [build-nginx, dev, release]
    default: dev
  build_all:
    type: boolean
    default: false
  nginx_version:
    type: string
    default: "1.27.5"

executors:
  docker-amd64:
    parameters:
      image:
        type: string
      resource_class:
        type: string
    docker:
    - image: "<< parameters.image >>"
    resource_class: "<< parameters.resource_class >>"
  docker-arm64:
    parameters:
      image:
        type: string
      resource_class:
        type: string
    docker:
    - image: "<< parameters.image >>"
    resource_class: "arm.<< parameters.resource_class >>"
  ubuntu-amd64:
    machine:
      image: ubuntu-2204:current
    resource_class: xlarge
  ubuntu-arm64:
    machine:
      image: ubuntu-2204:current
    resource_class: arm.xlarge
